%base-container {
  max-width: $container-max-width;
  width: 100%;
  margin-inline: auto;
}

%flex-row-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%center-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex {
  display: flex;
  align-items: center;
}

%flex-col {
  display: flex;
  flex-direction: column;
}

%gap-4 {
  gap: 0.4rem;
}
%gap-8 {
  gap: 0.8rem;
}
%gap-16 {
  gap: 1.6rem;
}
%gap-24 {
  gap: 2.4rem;
}
%gap-32 {
  gap: 3.2rem;
}
