/* IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Lato:wght@300;400;700;900&family=Roboto:wght@400;500;700;900&display=swap");

/* COLORS */
$color-primary-500: #4a9530;
$color-primary-400: #58bb36;
$color-primary-300: #88e867;
$color-primary-200: #c5f1b5;
$color-primary-100: #edf8e9;

$color-secondary-500: #a85417;
$color-secondary-400: #cf661a;
$color-secondary-300: #f08d45;
$color-secondary-200: #f3c4a2;
$color-secondary-100: #f7eae1;

$color-tertiary-500: #17a8a8;
$color-tertiary-400: #1ec7c7;
$color-tertiary-300: #33eeee;
$color-tertiary-200: #86f6f6;
$color-tertiary-100: #e2f9f9;

$color-text-900: #0f1e0a;
$color-text-800: #343833;
$color-text-700: #585a57;
$color-text-600: #848684;
$color-text-500: #afb4ad;
$color-text-400: #dbddda;
$color-text-300: #edf1ec;
$color-text-200: #f6f6f6;
$color-text-100: #ffffff;

$color-state-danger-500: #d10a0a;
$color-state-danger-400: #e22f2f;
$color-state-danger-300: #e86f6f;
$color-state-danger-200: #eaa4a4;
$color-state-danger-100: #f5e9e9;
$color-state-danger-50: #fbfafa;

$color-state-success: #4acf0c;
$color-state-pending: #df7412;

/* FONTS */
$font-primary: "Lato", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-tertiary: "Roboto", sans-serif;

/* MAX VALUES */
$container-max-width: 1120px;
